html {
    font-size: 10px;
}

body {
    background-repeat: no-repeat;
    background-attachment: fixed;    
    background-image: linear-gradient(45deg, grey, rgb(48, 48, 48), rgb(0, 0, 0));
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 7rem;

    font-family:monospace;
    color: white;
    font-size: 3rem;
    line-height: 5rem;
}

.main {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    margin-top: 5rem;
}

.player {
    background-color: rgba(255, 255, 255, 0.466);
    max-width: 20vw;
    width: 100%;
    height: auto;
    padding: 3rem;
    border: 5px solid  rgb(108, 108, 255);
    border-radius: 20px;
}

.computer {
    background-color: rgba(255, 255, 255, 0.466);
    max-width: 20vw;
    width: 100%;
    height: auto;
    padding: 3rem;
    border: 5px solid  rgb(108, 108, 255);
    border-radius: 20px;
}



.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.player-p {
    color: black;
    font-weight: bolder;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
}

.icon {
    font-size: 6rem;
    color: black;
}

.player-options, .computer-options {
    display: flex;
    margin-top: 2rem;
    align-items: center;
    justify-content: space-around;
    
}

.op-icon {
    font-size: 4rem;
}

.btn {
    display: flex;
    flex-direction: column;
    text-align: center;

    font-size: 1rem;
    font-weight: bolder;

    padding: 1rem;

    background-color: rgba(0, 0, 0, 0.226);


    border: 5px solid black;
}

.playerBtn:hover {
    box-shadow: 0 0 20px 10px rgb(108, 108, 255);
    transform: scale(1.1);
}

.score {

    background-color: rgba(255, 255, 255, 0.247);
    border: 5px solid  rgb(108, 108, 255);
    border-radius: 20px;
    width:max-content;
    height: auto;

    color: black;

    margin: -5rem auto;

    padding: 2rem;
}

#score {
    font-size: 2rem;
    font-weight: bolder;
    text-align: center;    
}

.newH2 {
    font-size: 1rem;
    font-weight: bolder;
    text-align: center;
    margin-top: 1rem;    
}


#round {
    font-size: 1rem;
    text-align: center;
    margin-top: 1rem;
}

.score-div {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#player {
    margin-bottom: 10px;
}


@media (max-width:1400px ) {
    .score {
        margin: 2rem auto;
    }
    .btn {
        transform: scale(0.9);
    }

    
}

@media (max-width:970px ) {

    .btn {
        transform: scale(0.7);
    }
    .btn:hover {
        transform: scale(0.8);
    }



}

@media (max-width:820px ) {
    .computer-options {
        flex-direction: column;
    }

    .player-options {
        flex-direction: column;
    }


}
